body{
    /*background:url(../images/1.jpg);*/
/*    background-repeat:no-repeat;
    background-attachment:fixed;*/
    margin:0;
    padding:0;
    text-align: center;
}

iframe{
    width: 1200px;
    height: 1200px;
    /*margin: auto;*/
}

#html{
	position: relative;
}